<div class="drop {{ cart.get_cart_contents_count() == 0 ? 'hide'  }}">
		
	<div class="wrap">
				
		<ul>

			{% for cart_item_key, cart_item in cart.cart_contents %}
							
				<li>
				
					<div class="row">
					
						<div class="small-10 columns">
					
							<p>
								
								{% if cart_item.data.is_visible() %}
								
									{{ cart_item.data.get_title() }}
									
								{% else %}
									
									<a href="{{ cart_item.data.get_permalink() }}">{{ cart_item.data.get_title() }}</a>
								
								{% endif %}
								
								{{ cart.get_item_data( cart_item ) }}
								
								{% if cart_item.data.backorders_require_notification() and cart_item.data.is_on_backorder( cart_item.quantity ) %}
								
									<p class="backorder_notification">Available on backorder</p>
								
								{% endif %}
								
							</p>
						
						</div>
						
						<div class="small-2 columns">
						
							<a href="{{ cart.get_remove_url( cart_item_key ) }}" class="removeFromCart right" title="Remove this item">-</a>
						
						</div>
						
					</div>
					
					<div class="row">
						
						<div class="small-6 columns">
						
							<p>{{ cart_item.quantity }} @ {{ cart.get_product_price( cart_item.data ) }}</p>
						
						</div>
						
						<div class="small-6 columns">
												
							<p class="text-right">
								
								<strong>{{ cart.get_product_subtotal( cart_item.data, cart_item.quantity ) }}</strong>
							
							</p>
						
						</div>
						
					</div>
						
				</li>
			
			{% endfor %}
			
		</ul>
		
		<div class="row">
						
			<div class="small-12 columns">
		
				<hr />
		
				<p class="total">Sub Total Excl. VAT <strong>{{ cart.get_cart_subtotal() }}</strong></p><br />
				
				<a href="{{ cart.get_checkout_url() }}" class="button small-12">Checkout</a>
				
			</div>
			
		</div>
		
	</div>
			
</div>
